.u-section-1 .u-sheet-1 {
  min-height: 732px;
}

.u-section-1 .u-image-1 {
  width: 521px;
  height: 521px;
  background-image: url("images/IMG_0687.JPG");
  background-position: 50% 50%;
  margin: 60px 0 0 auto;
}

.u-section-1 .u-text-1 {
  font-size: 1.25rem;
  font-weight: 600;
  margin: -246px 894px 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  font-weight: 600;
  margin: 10px 898px 0 0;
}

.u-section-1 .u-text-3 {
  font-size: 1.25rem;
  font-weight: 600;
  margin: 10px auto 0 0;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
  margin: 75px auto 0 0;
}

.u-section-1 .u-social-icons-1 {
  height: 42px;
  min-height: 16px;
  width: 109px;
  min-width: 57px;
  white-space: nowrap;
  margin: -45px auto 60px 286px;
}

.u-section-1 .u-icon-4 {
  height: 100%;
}

.u-section-1 .u-icon-5 {
  height: 100%;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-1 {
    width: 435px;
    height: 435px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 694px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 698px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-image-1 {
    width: 372px;
    height: 372px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 20px;
    margin-right: 474px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 478px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 903px;
  }

  .u-section-1 .u-image-1 {
    width: 336px;
    height: 336px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 38px;
    margin-right: 294px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-right: 298px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 57px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 853px;
  }

  .u-section-1 .u-image-1 {
    width: 273px;
    height: 273px;
    margin-right: auto;
  }

  .u-section-1 .u-text-1 {
    margin-top: 80px;
    margin-right: 61px;
    margin-left: 33px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 65px;
    margin-left: 33px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 33px;
    margin-right: 33px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 39px;
    margin-left: auto;
    padding: 9px 44px 11px;
  }

  .u-section-1 .u-social-icons-1 {
    margin-top: 39px;
    margin-left: auto;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 521px;
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: auto;
  }
}