 .u-section-1 {
  background-image: url("images/posrcard.png");
}

.u-section-1 .u-sheet-1 {
  min-height: 1000px;
}

@media (max-width: 1399px) {
   .u-section-1 {
    background-position: 50% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 685px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 787px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 667px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  margin: 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 334px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-text-2 {
  margin: 0;
}

.u-section-2 .u-line-1 {
  transform-origin: right center 0px;
  width: 800px;
  margin: 30px auto 0 0;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 334px;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-text-3 {
  font-weight: 700;
  margin: 0;
}

.u-section-2 .u-layout-cell-4 {
  min-height: 334px;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px;
}

.u-section-2 .u-text-4 {
  font-weight: 700;
  margin: 0;
}

.u-section-2 .u-layout-cell-5 {
  min-height: 334px;
}

.u-section-2 .u-container-layout-5 {
  padding: 30px;
}

.u-section-2 .u-text-5 {
  font-weight: 700;
  margin: 0;
}

@media (max-width: 1399px) {
  .u-section-2 .u-layout-cell-1 {
    min-height: 642px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 321px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 321px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 321px;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 321px;
  }
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 709px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 86px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 173px;
  }

  .u-section-2 .u-line-1 {
    width: 628px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 285px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 173px;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 173px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 643px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 843px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 152px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-line-1 {
    width: 520px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-layout-wrap-1 {
    margin-top: 136px;
  }

  .u-section-2 .u-line-1 {
    width: 320px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 1161px;
}

.u-section-3 .u-video-1 {
  height: 788px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .embed-responsive-1 {
  position: absolute;
}

.u-section-3 .u-text-1 {
  margin: 271px auto 60px;
} .u-section-4 {
  background-image: url("images/CCThumbnail.png");
  background-position: 50% 50%;
}

.u-section-4 .u-sheet-1 {
  min-height: 1448px;
}

@media (max-width: 1399px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1179px;
  }
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 972px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 745px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 559px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 352px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 400px;
}

.u-section-5 .u-text-1 {
  margin: 303px auto 60px;
} .u-section-6 {
  background-image: url("images/Tabloid-21.png");
  background-position: 50% 50%;
}

.u-section-6 .u-sheet-1 {
  min-height: 2246px;
}

@media (max-width: 1399px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1830px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 940px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 619px;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 400px;
}

.u-section-7 .u-text-1 {
  margin: 309px auto 55px;
} .u-section-8 {
  background-image: url("images/3147698f-871d-4251-8d96-45b5b92d416c.png");
  background-position: 50% 50%;
}

.u-section-8 .u-sheet-1 {
  min-height: 1346px;
}

@media (max-width: 1399px) {
  .u-section-8 .u-sheet-1 {
    min-height: 694px;
  }
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 585px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 400px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 291px;
  }
}