.u-section-1 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-1 .u-group-elements-1 {
  width: 610px;
  min-height: 205px;
  margin: 413px auto 0;
}

.u-section-1 .u-image-1 {
  height: 157px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-1 {
  font-size: 1.875rem;
  margin: 0 auto;
}

.u-section-1 .u-btn-1 {
  --radius: 50px;
  font-size: 1rem;
  letter-spacing: 1px;
  background-image: none;
  font-weight: 700;
  margin: 63px auto 0;
  padding: 10px 38px 10px 36px;
}

.u-section-1 .u-btn-2 {
  --radius: 50px;
  font-size: 1rem;
  letter-spacing: 1px;
  background-image: none;
  font-weight: 700;
  margin: 28px 587px 0;
  padding: 10px 53px 10px 52px;
}

.u-section-1 .u-btn-3 {
  --radius: 50px;
  font-size: 1rem;
  letter-spacing: 1px;
  background-image: none;
  font-weight: 700;
  margin: 28px 587px 60px;
  padding: 9px 65px 11px 63px;
}

@media (max-width: 1399px) {
  .u-section-1 .u-group-elements-1 {
    height: auto;
    margin-top: 393px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-btn-3 {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-elements-1 {
    margin-top: 373px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-elements-1 {
    min-height: 253px;
    margin-top: 363px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-group-elements-1 {
    min-height: 234px;
    margin-top: 293px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 82px;
  }
}