 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url("images/R1S-and-R1T.jpg");
}

.u-section-1 .u-sheet-1 {
  min-height: 718px;
}

@media (max-width: 1399px) {
   .u-section-1 {
    background-position: 50% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 615px;
  }
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 582px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 504px;
  }
} .u-section-2 {
  background-position: 50% 50%;
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 115px;
}

.u-section-2 .u-text-1 {
  background-image: none;
  font-weight: 800;
  text-transform: none;
  margin: 63px auto 0 0;
}

@media (max-width: 1399px) {
  .u-section-2 .u-text-1 {
    text-transform: uppercase;
    font-weight: 700;
    --animation-custom_in-translate_x: 300px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    margin-top: 60px;
    margin-bottom: 60px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 587px;
}

.u-section-3 .u-layout-wrap-1 {
  margin: 60px auto 59px 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 466px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-3 .u-text-1 {
  margin-bottom: 0;
  margin-top: 0;
  font-weight: 700;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 233px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-text-2 {
  margin: 0;
}

.u-section-3 .u-line-1 {
  transform-origin: left center 0px;
  width: 800px;
  margin: 30px auto 0 0;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 233px;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-text-3 {
  font-weight: 700;
  margin: 0;
}

.u-section-3 .u-layout-cell-4 {
  min-height: 233px;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px;
}

.u-section-3 .u-text-4 {
  font-weight: 700;
  margin: 0 1px;
}

.u-section-3 .u-layout-cell-5 {
  min-height: 183px;
}

.u-section-3 .u-container-layout-5 {
  padding: 30px;
}

.u-section-3 .u-text-5 {
  font-weight: 700;
  margin: 0;
}

@media (max-width: 1399px) {
  .u-section-3 .u-sheet-1 {
    min-height: 635px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-1 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 300px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-3 .u-layout-cell-2 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 300px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 553px;
  }

  .u-section-3 .u-layout-wrap-1 {
    position: relative;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 384px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 192px;
  }

  .u-section-3 .u-line-1 {
    width: 692px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 192px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 192px;
  }

  .u-section-3 .u-text-4 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 151px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 469px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-line-1 {
    width: 660px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 569px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-line-1 {
    width: 520px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-line-1 {
    width: 320px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 400px;
}

.u-section-4 .u-layout-wrap-1 {
  margin: 0;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 400px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-4 .u-text-1 {
  margin: 0 auto 0 0;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 400px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-text-2 {
  margin: 145px 0 0;
}

@media (max-width: 1399px) {
  .u-section-4 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 326px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 326px;
  }
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 269px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 269px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 269px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 400px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 800px;
}

.u-section-5 .u-list-1 {
  margin-bottom: 60px;
  margin-top: 60px;
  width: 100%;
}

.u-section-5 .u-gallery-nav-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-repeater-1 {
  grid-gap: 28px 28px;
  grid-template-columns: 100%;
  min-height: 650px;
  grid-auto-columns: 1320px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-image-1 {
  margin-top: 0;
  margin-bottom: 0;
  background-image: url("images/110.png");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-5 .u-container-layout-1 {
  padding: 0;
}

.u-section-5 .u-image-2 {
  margin-top: 0;
  margin-bottom: 0;
  background-image: url("images/MissionStatement1.png");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-5 .u-container-layout-2 {
  padding: 0;
}

.u-section-5 .u-image-3 {
  margin-top: 0;
  margin-bottom: 0;
  background-image: url("images/Vision1.png");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-5 .u-container-layout-3 {
  padding: 0;
}

.u-section-5 .u-image-4 {
  margin-top: 0;
  margin-bottom: 0;
  background-image: url("images/Value1.png");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-5 .u-container-layout-4 {
  padding: 0;
}

.u-section-5 .u-image-5 {
  margin-top: 0;
  margin-bottom: 0;
  background-image: url("images/Philosophy1.png");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-5 .u-container-layout-5 {
  padding: 0;
}

.u-section-5 .u-image-6 {
  margin-top: 0;
  margin-bottom: 0;
  background-image: url("images/TargetAudience.png");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-5 .u-container-layout-6 {
  padding: 0;
}

.u-section-5 .u-image-7 {
  margin-top: 0;
  margin-bottom: 0;
  background-image: url("images/Product1-1.png");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-5 .u-container-layout-7 {
  padding: 0;
}

.u-section-5 .u-image-8 {
  margin-top: 0;
  margin-bottom: 0;
  background-image: url("images/Product2-1.png");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-5 .u-container-layout-8 {
  padding: 0;
}

.u-section-5 .u-gallery-nav-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

@media (max-width: 1399px) {
  .u-section-5 .u-list-1 {
    width: auto;
  }

  .u-section-5 .u-repeater-1 {
    grid-gap: 20px 20px;
    grid-auto-columns: 100%;
  }
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 700px;
  }

  .u-section-5 .u-repeater-1 {
    grid-gap: 15px 15px;
    min-height: 560px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 500px;
  }

  .u-section-5 .u-repeater-1 {
    min-height: 450px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 300px;
  }

  .u-section-5 .u-repeater-1 {
    min-height: 250px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 400px;
}

.u-section-6 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 400px;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-6 .u-text-1 {
  margin: 0 auto 0 0;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 400px;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px;
}

.u-section-6 .u-text-2 {
  margin: 0;
}

@media (max-width: 1399px) {
  .u-section-6 .u-sheet-1 {
    min-height: 326px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 326px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 326px;
  }
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 269px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-top: 1px;
    margin-bottom: 1px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 269px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 269px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 400px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 742px;
}

.u-section-7 .u-list-1 {
  width: 100%;
  margin: 46px 0;
}

.u-section-7 .u-gallery-nav-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-7 .u-repeater-1 {
  grid-gap: 28px 28px;
  grid-template-columns: 100%;
  min-height: 650px;
  grid-auto-columns: 1320px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-7 .u-image-1 {
  margin-top: 0;
  margin-bottom: 0;
  background-image: url("images/Vision2.png");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-7 .u-container-layout-1 {
  padding: 0;
}

.u-section-7 .u-image-2 {
  margin-top: 0;
  margin-bottom: 0;
  background-image: url("images/DrivingConcept.png");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-7 .u-container-layout-2 {
  padding: 0;
}

.u-section-7 .u-image-3 {
  margin-top: 0;
  margin-bottom: 0;
  background-image: url("images/DrivingConcept-1.png");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-7 .u-container-layout-3 {
  padding: 0;
}

.u-section-7 .u-image-4 {
  margin-top: 0;
  margin-bottom: 0;
  background-image: url("images/InteractionConcept-4.png");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-7 .u-container-layout-4 {
  padding: 0;
}

.u-section-7 .u-image-5 {
  margin-top: 0;
  margin-bottom: 0;
  background-image: url("images/InteractionConcept-1.png");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-7 .u-container-layout-5 {
  padding: 0;
}

.u-section-7 .u-image-6 {
  margin-top: 0;
  margin-bottom: 0;
  background-image: url("images/InteractionConcept-3.png");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-7 .u-container-layout-6 {
  padding: 0;
}

.u-section-7 .u-image-7 {
  margin-top: 0;
  margin-bottom: 0;
  background-image: url("images/InteractionConcept.png");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-7 .u-container-layout-7 {
  padding: 0;
}

.u-section-7 .u-image-8 {
  margin-top: 0;
  margin-bottom: 0;
  background-image: url("images/InteractionConcept-2.png");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-7 .u-container-layout-8 {
  padding: 0;
}

.u-section-7 .u-gallery-nav-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

@media (max-width: 1399px) {
  .u-section-7 .u-repeater-1 {
    grid-gap: 20px 20px;
    grid-auto-columns: 100%;
  }
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 700px;
  }

  .u-section-7 .u-repeater-1 {
    grid-gap: 15px 15px;
    min-height: 560px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 500px;
  }

  .u-section-7 .u-repeater-1 {
    min-height: 450px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 300px;
  }

  .u-section-7 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-7 .u-repeater-1 {
    min-height: 250px;
  }
}.u-section-8 .u-sheet-1 {
  min-height: 1574px;
}

.u-section-8 .u-list-1 {
  margin-top: 60px;
  margin-bottom: 0;
}

.u-section-8 .u-repeater-1 {
  grid-gap: 10px 10px;
  grid-auto-columns: 100%;
  grid-template-columns: 100%;
  min-height: 582px;
}

.u-section-8 .u-list-item-1 {
  margin-top: 0;
  margin-bottom: 0;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-8 .u-container-layout-1 {
  padding: 0 0 30px;
}

.u-section-8 .u-image-1 {
  width: 857px;
  height: 485px;
  --radius: 20px;
  margin: 45px auto 0 0;
}

.u-section-8 .u-text-1 {
  margin: -414px 346px 0 auto;
}

.u-section-8 .u-group-elements-1 {
  width: 401px;
  min-height: 256px;
  height: auto;
  margin: 22px 67px 0 auto;
}

.u-section-8 .u-text-2 {
  margin: 0 auto 0 0;
}

.u-section-8 .u-text-3 {
  margin: 28px 0 0 3px;
}

.u-section-8 .u-image-2 {
  object-position: 50% 0%;
  height: 742px;
  margin-top: 91px;
  margin-bottom: 60px;
  --radius: 10px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

@media (max-width: 1399px) {
  .u-section-8 .u-image-1 {
    width: 639px;
    height: 361px;
    margin-top: 66px;
  }

  .u-section-8 .u-text-1 {
    width: auto;
    margin-top: -364px;
    margin-right: 319px;
  }

  .u-section-8 .u-group-elements-1 {
    margin-right: 37px;
  }
}

@media (max-width: 1199px) {
  .u-section-8 .u-image-1 {
    width: 665px;
    height: 379px;
    margin-top: 268px;
    margin-left: auto;
  }

  .u-section-8 .u-text-1 {
    margin-top: -647px;
    margin-right: 810px;
    margin-left: 0;
  }

  .u-section-8 .u-group-elements-1 {
    min-height: 181px;
    margin-top: 24px;
    margin-right: 67px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-image-1 {
    width: 715px;
    height: 407px;
    margin-top: 299px;
  }

  .u-section-8 .u-text-1 {
    margin-top: -686px;
    margin-right: 201px;
  }

  .u-section-8 .u-group-elements-1 {
    margin-top: 20px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-image-1 {
    height: 305px;
    margin-top: 361px;
    width: 540px;
    margin-left: 0;
  }

  .u-section-8 .u-text-1 {
    margin-top: -642px;
    margin-right: 151px;
  }

  .u-section-8 .u-group-elements-1 {
    min-height: 231px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-image-1 {
    height: 192px;
    margin-top: 448px;
    width: 340px;
  }

  .u-section-8 .u-text-1 {
    margin-top: -616px;
    margin-right: 95px;
  }

  .u-section-8 .u-group-elements-1 {
    min-height: 306px;
    margin-top: 25px;
    width: 340px;
    margin-right: 0;
  }
}.u-section-9 .u-sheet-1 {
  min-height: 730px;
}

.u-section-9 .u-list-1 {
  margin-top: 76px;
  margin-bottom: 60px;
}

.u-section-9 .u-repeater-1 {
  grid-gap: 10px 10px;
  grid-auto-columns: 100%;
  grid-template-columns: 100%;
  min-height: 594px;
}

.u-section-9 .u-list-item-1 {
  margin-top: 0;
  margin-bottom: 0;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-9 .u-container-layout-1 {
  padding: 0 0 30px;
}

.u-section-9 .u-image-1 {
  width: 857px;
  height: 485px;
  --radius: 20px;
  margin: 45px auto 0 0;
}

.u-section-9 .u-text-1 {
  margin: -414px 346px 0 auto;
}

.u-section-9 .u-group-elements-1 {
  width: 401px;
  min-height: 256px;
  height: auto;
  margin: 22px 67px 0 auto;
}

.u-section-9 .u-text-2 {
  margin: 0 auto 0 0;
}

.u-section-9 .u-text-3 {
  margin: 28px 0 0 3px;
}

@media (max-width: 1399px) {
  .u-section-9 .u-image-1 {
    width: 639px;
    height: 361px;
    margin-top: 66px;
  }

  .u-section-9 .u-text-1 {
    width: auto;
    margin-top: -364px;
    margin-right: 319px;
  }

  .u-section-9 .u-group-elements-1 {
    margin-right: 37px;
  }
}

@media (max-width: 1199px) {
  .u-section-9 .u-image-1 {
    width: 665px;
    height: 379px;
    margin-top: 268px;
    margin-left: auto;
  }

  .u-section-9 .u-text-1 {
    margin-top: -647px;
    margin-right: 810px;
    margin-left: 0;
  }

  .u-section-9 .u-group-elements-1 {
    min-height: 181px;
    margin-top: 24px;
    margin-right: 67px;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-image-1 {
    width: 715px;
    height: 407px;
    margin-top: 299px;
  }

  .u-section-9 .u-text-1 {
    margin-top: -686px;
    margin-right: 201px;
  }

  .u-section-9 .u-group-elements-1 {
    margin-top: 20px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-image-1 {
    height: 307px;
    margin-top: 361px;
    width: 540px;
    margin-left: 0;
  }

  .u-section-9 .u-text-1 {
    margin-top: -642px;
    margin-right: 151px;
  }

  .u-section-9 .u-group-elements-1 {
    min-height: 231px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-image-1 {
    height: 193px;
    margin-top: 448px;
    width: 340px;
  }

  .u-section-9 .u-text-1 {
    margin-top: -616px;
    margin-right: 95px;
  }

  .u-section-9 .u-group-elements-1 {
    margin-top: 25px;
    min-height: 306px;
    width: 340px;
    margin-right: 0;
  }
}.u-section-10 .u-sheet-1 {
  min-height: 1684px;
}

.u-section-10 .u-list-1 {
  margin-top: 36px;
  margin-bottom: 0;
}

.u-section-10 .u-repeater-1 {
  grid-gap: 10px 10px;
  grid-auto-columns: 100%;
  grid-template-columns: 100%;
  min-height: 594px;
}

.u-section-10 .u-list-item-1 {
  margin-top: 0;
  margin-bottom: 0;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-10 .u-container-layout-1 {
  padding: 0;
}

.u-section-10 .u-image-1 {
  width: 857px;
  height: 485px;
  --radius: 20px;
  margin: 45px auto 0 0;
}

.u-section-10 .u-text-1 {
  margin: -414px 346px 0 auto;
}

.u-section-10 .u-group-elements-1 {
  width: 401px;
  min-height: 256px;
  height: auto;
  margin: 22px 67px 0 auto;
}

.u-section-10 .u-text-2 {
  margin: 0 auto 0 0;
}

.u-section-10 .u-text-3 {
  margin: 28px 0 0 3px;
}

.u-section-10 .u-image-2 {
  object-position: 50% 0%;
  margin-top: 84px;
  margin-bottom: 60px;
  height: 788px;
  --radius: 10px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

@media (max-width: 1199px) {
  .u-section-10 .u-text-1 {
    margin-right: 285px;
  }
}

@media (max-width: 991px) {
  .u-section-10 .u-image-1 {
    width: 720px;
    height: 407px;
  }

  .u-section-10 .u-text-1 {
    margin-top: -336px;
    margin-right: 218px;
  }
}

@media (max-width: 767px) {
  .u-section-10 .u-image-1 {
    width: 540px;
    height: 305px;
  }

  .u-section-10 .u-text-1 {
    margin-top: -234px;
    margin-right: 164px;
  }
}

@media (max-width: 575px) {
  .u-section-10 .u-image-1 {
    width: 340px;
    height: 192px;
  }

  .u-section-10 .u-text-1 {
    margin-top: -121px;
    margin-right: 103px;
  }

  .u-section-10 .u-group-elements-1 {
    width: 340px;
    margin-right: 0;
  }
} .u-section-11 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url("images/rivian-r1t-2022-1280-08.jpg");
}

.u-section-11 .u-sheet-1 {
  min-height: 1026px;
}

.u-section-11 .u-text-1 {
  margin: 60px auto 0 0;
}

.u-section-11 .u-video-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  height: 774px;
  margin-top: 68px;
  margin-bottom: 60px;
}

.u-section-11 .embed-responsive-1 {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

@media (max-width: 1399px) {
   .u-section-11 {
    background-position: 50% 50%;
  }

  .u-section-11 .u-sheet-1 {
    min-height: 913px;
  }

  .u-section-11 .u-video-1 {
    height: 852px;
  }

  .u-section-11 .embed-responsive-1 {
    width: 178%;
    height: 178%;
    left: -39%;
    top: -39%;
  }
}

@media (max-width: 991px) {
  .u-section-11 .u-sheet-1 {
    min-height: 835px;
  }

  .u-section-11 .u-video-1 {
    height: 774px;
  }

  .u-section-11 .embed-responsive-1 {
    width: 191%;
    height: 100%;
    left: -46%;
    top: 0%;
  }
}

@media (max-width: 767px) {
  .u-section-11 .embed-responsive-1 {
    width: 255%;
    left: -77%;
  }
}

@media (max-width: 575px) {
  .u-section-11 .embed-responsive-1 {
    width: 405%;
    left: -152%;
  }
}.u-section-12 .u-sheet-1 {
  min-height: 974px;
  margin-bottom: 0;
}

.u-section-12 .u-text-1 {
  margin: 69px 0 0;
}

.u-section-12 .u-image-1 {
  margin-top: 20px;
  margin-bottom: 60px;
  height: 740px;
}

@media (max-width: 1199px) {
  .u-section-12 .u-sheet-1 {
    min-height: 800px;
  }

  .u-section-12 .u-image-1 {
    height: 627px;
  }
}

@media (max-width: 991px) {
  .u-section-12 .u-sheet-1 {
    min-height: 500px;
  }

  .u-section-12 .u-image-1 {
    margin-bottom: -73px;
    height: 504px;
  }
}

@media (max-width: 575px) {
  .u-section-12 .u-image-1 {
    margin-top: -3px;
    margin-bottom: 60px;
    height: 341px;
  }
}.u-section-13 .u-sheet-1 {
  min-height: 76px;
}

.u-section-13 .u-text-1 {
  margin: 20px auto 20px 0;
} .u-section-14 {
  background-image: url("images/23FA_-_Module_C_-_Brand_2035_-_Copy_of_2035_IDEAL_JOURNEY_MAP_2_.jpg");
  background-position: 50% 50%;
}

.u-section-14 .u-sheet-1 {
  margin-bottom: 0;
  min-height: 50vw;
}

@media (max-width: 1399px) {
  .u-section-14 .u-sheet-1 {
    min-height: 773px;
  }
}

@media (max-width: 1199px) {
  .u-section-14 .u-sheet-1 {
    min-height: 631px;
  }
}

@media (max-width: 991px) {
  .u-section-14 .u-sheet-1 {
    min-height: 500px;
  }
}

@media (max-width: 767px) {
  .u-section-14 .u-sheet-1 {
    min-height: 400px;
  }
}

@media (max-width: 575px) {
  .u-section-14 .u-sheet-1 {
    min-height: 300px;
  }
} .u-section-15 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url("images/ev-off-roading-rivian-r1t-adventure-package-via-magazine-aaa-courtesy-rivian.jpg");
}

.u-section-15 .u-sheet-1 {
  min-height: 494px;
}

.u-section-15 .u-layout-wrap-1 {
  margin-top: 47px;
  margin-bottom: 47px;
}

.u-section-15 .u-layout-cell-1 {
  min-height: 400px;
}

.u-section-15 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-15 .u-text-1 {
  margin: 0 auto 0 0;
}

.u-section-15 .u-layout-cell-2 {
  min-height: 430px;
}

.u-section-15 .u-container-layout-2 {
  padding: 30px;
}

.u-section-15 .u-text-2 {
  margin: 0;
}

@media (max-width: 1399px) {
  .u-section-15 .u-sheet-1 {
    min-height: 328px;
  }

  .u-section-15 .u-layout-cell-1 {
    min-height: 326px;
  }

  .u-section-15 .u-layout-cell-2 {
    min-height: 350px;
  }
}

@media (max-width: 1199px) {
  .u-section-15 .u-sheet-1 {
    min-height: 271px;
  }

  .u-section-15 .u-layout-cell-1 {
    min-height: 269px;
  }

  .u-section-15 .u-layout-cell-2 {
    min-height: 289px;
  }
}

@media (max-width: 991px) {
  .u-section-15 .u-sheet-1 {
    min-height: 102px;
  }

  .u-section-15 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-15 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-15 .u-sheet-1 {
    min-height: 202px;
  }

  .u-section-15 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}.u-section-16 .u-sheet-1 {
  min-height: 100px;
}.video {
 border-radius: 10px;
}