 .u-section-1 {
  background-image: url("images/SortMeMockup.jpg");
}

.u-section-1 .u-sheet-1 {
  min-height: 746px;
}

@media (max-width: 1399px) {
   .u-section-1 {
    background-position: 50% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 500px;
  }
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 392px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 300px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 225px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 142px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 114px;
}

.u-section-2 .u-text-1 {
  font-weight: 900;
  background-image: none;
  margin: 63px auto 0 0;
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 700px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 435px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  margin: 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 200px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-text-2 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-3 .u-line-1 {
  transform-origin: left center 0px;
  width: 800px;
  margin: 30px auto 0 0;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 235px;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-text-3 {
  font-weight: 700;
  margin: 0 auto 0 0;
}

.u-section-3 .u-layout-cell-4 {
  min-height: 200px;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px 59px 30px 30px;
}

.u-section-3 .u-text-4 {
  font-weight: 700;
  margin: 0 auto 0 0;
}

.u-section-3 .u-container-layout-5 {
  padding: 30px;
}

.u-section-3 .u-text-5 {
  margin-bottom: 0;
  margin-top: 0;
  font-weight: 700;
}

@media (max-width: 1399px) {
  .u-section-3 .u-sheet-1 {
    min-height: 595px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 400px;
  }
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 517px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 50px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 313px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 157px;
  }

  .u-section-3 .u-line-1 {
    width: 692px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 184px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 157px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 731px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-bottom: -659px;
    position: relative;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-line-1 {
    width: 660px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1001px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-bottom: -1733px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-line-1 {
    width: 520px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1016px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 40px;
    margin-bottom: -2050px;
  }

  .u-section-3 .u-line-1 {
    width: 320px;
  }
} .u-section-4 {
  background-image: none;
  min-height: 2800px;
}

.u-section-4 .u-list-1 {
  grid-template-rows: auto auto auto;
  margin-top: 0;
  margin-bottom: 0;
  width: 100%;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: 50% 50%;
  min-height: 2900px;
  grid-gap: 0px;
}

.u-section-4 .u-list-item-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-1 {
  padding: 0;
}

.u-section-4 .u-image-1 {
  margin-top: 0;
  margin-bottom: 0;
  height: 570px;
}

.u-section-4 .u-list-item-2 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-2 {
  padding: 0;
}

.u-section-4 .u-image-2 {
  margin-top: 0;
  margin-bottom: 0;
  height: 570px;
}

.u-section-4 .u-list-item-3 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-3 {
  padding: 0;
}

.u-section-4 .u-image-3 {
  margin-top: 0;
  margin-bottom: 0;
  height: 570px;
}

.u-section-4 .u-list-item-4 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-4 {
  padding: 0;
}

.u-section-4 .u-image-4 {
  margin-top: 0;
  margin-bottom: 0;
  height: 570px;
}

.u-section-4 .u-list-item-5 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-5 {
  padding: 0;
}

.u-section-4 .u-image-5 {
  margin-top: 0;
  margin-bottom: 0;
  height: 570px;
}

.u-section-4 .u-list-item-6 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-6 {
  padding: 0;
}

.u-section-4 .u-image-6 {
  margin-top: 0;
  margin-bottom: 0;
  height: 570px;
}

.u-section-4 .u-list-item-7 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-7 {
  padding: 0;
}

.u-section-4 .u-image-7 {
  margin-top: 0;
  margin-bottom: 0;
  height: 570px;
}

.u-section-4 .u-list-item-8 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-8 {
  padding: 0;
}

.u-section-4 .u-image-8 {
  margin-top: 0;
  margin-bottom: 0;
  height: 570px;
}

.u-section-4 .u-list-item-9 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-9 {
  padding: 0;
}

.u-section-4 .u-image-9 {
  margin-top: 0;
  margin-bottom: 0;
  height: 570px;
}

@media (max-width: 1399px) {
  .u-section-4 .u-list-1 {
    margin-top: 1px;
  }

  .u-section-4 .u-repeater-1 {
    min-height: 1688px;
  }

  .u-section-4 .u-list-item-1 {
    background-position: 50% 50%;
  }

  .u-section-4 .u-list-item-2 {
    background-position: 50% 50%;
  }

  .u-section-4 .u-list-item-3 {
    background-position: 50% 50%;
  }

  .u-section-4 .u-list-item-4 {
    background-position: 50% 50%;
  }

  .u-section-4 .u-list-item-5 {
    background-position: 50% 50%;
  }

  .u-section-4 .u-list-item-6 {
    background-position: 50% 50%;
  }

  .u-section-4 .u-list-item-7 {
    background-position: 50% 50%;
  }

  .u-section-4 .u-list-item-8 {
    background-position: 50% 50%;
  }

  .u-section-4 .u-list-item-9 {
    background-position: 50% 50%;
  }
}

@media (max-width: 1199px) {
   .u-section-4 {
    min-height: 1237px;
  }

  .u-section-4 .u-list-1 {
    margin-bottom: 1px;
  }

  .u-section-4 .u-repeater-1 {
    min-height: 1235px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-list-1 {
    margin-right: auto;
    margin-left: calc(((100% - 1320px) / 2) + 300px);
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 4000px;
  }

  .u-section-4 .u-image-1 {
    height: 1140px;
  }

  .u-section-4 .u-image-2 {
    height: 1140px;
  }

  .u-section-4 .u-image-3 {
    height: 1140px;
  }

  .u-section-4 .u-image-4 {
    height: 1140px;
  }

  .u-section-4 .u-image-5 {
    height: 1140px;
  }

  .u-section-4 .u-image-6 {
    height: 1140px;
  }

  .u-section-4 .u-image-7 {
    height: 1140px;
  }

  .u-section-4 .u-image-8 {
    height: 1140px;
  }

  .u-section-4 .u-image-9 {
    height: 1140px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-list-1 {
    margin-left: calc(((100% - 1320px) / 2) + 390px);
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-list-1 {
    margin-left: calc(((100% - 1320px) / 2) + 490px);
  }

  .u-section-4 .u-repeater-1 {
    min-height: 1800px;
  }
} .u-section-5 {
  background-image: none;
  min-height: 1800px;
}

.u-section-5 .u-list-1 {
  grid-template-rows: auto auto auto;
  margin-top: 0;
  margin-bottom: 0;
  width: 100%;
}

.u-section-5 .u-repeater-1 {
  grid-template-columns: 50% 50%;
  min-height: 2900px;
  grid-gap: 0px;
}

.u-section-5 .u-list-item-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-5 .u-container-layout-1 {
  padding: 0;
}

.u-section-5 .u-image-1 {
  margin-top: 0;
  margin-bottom: 0;
  height: 570px;
}

.u-section-5 .u-list-item-2 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-5 .u-container-layout-2 {
  padding: 0;
}

.u-section-5 .u-image-2 {
  margin-top: 0;
  margin-bottom: 0;
  height: 570px;
}

.u-section-5 .u-list-item-3 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-5 .u-container-layout-3 {
  padding: 0;
}

.u-section-5 .u-image-3 {
  margin-top: 0;
  margin-bottom: 0;
  height: 570px;
}

.u-section-5 .u-list-item-4 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-5 .u-container-layout-4 {
  padding: 0;
}

.u-section-5 .u-image-4 {
  margin-top: 0;
  margin-bottom: 0;
  height: 570px;
}

.u-section-5 .u-list-item-5 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-5 .u-container-layout-5 {
  padding: 0;
}

.u-section-5 .u-image-5 {
  margin-top: 0;
  margin-bottom: 0;
  height: 570px;
}

.u-section-5 .u-list-item-6 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-5 .u-container-layout-6 {
  padding: 0;
}

.u-section-5 .u-image-6 {
  margin-top: 0;
  margin-bottom: 0;
  height: 570px;
}

.u-section-5 .u-list-item-7 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-5 .u-container-layout-7 {
  padding: 0;
}

.u-section-5 .u-image-7 {
  margin-top: 0;
  margin-bottom: 0;
  height: 570px;
}

.u-section-5 .u-list-item-8 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-5 .u-container-layout-8 {
  padding: 0;
}

.u-section-5 .u-image-8 {
  margin-top: 0;
  margin-bottom: 0;
  height: 570px;
}

.u-section-5 .u-list-item-9 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-5 .u-container-layout-9 {
  padding: 0;
}

.u-section-5 .u-image-9 {
  margin-top: 0;
  margin-bottom: 0;
  height: 570px;
}

.u-section-5 .u-list-item-10 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-5 .u-container-layout-10 {
  padding: 0;
}

.u-section-5 .u-image-10 {
  margin-top: 0;
  margin-bottom: 0;
  height: 570px;
}

@media (max-width: 1399px) {
  .u-section-5 .u-repeater-1 {
    min-height: 1688px;
  }

  .u-section-5 .u-list-item-1 {
    background-position: 50% 50%;
  }

  .u-section-5 .u-list-item-2 {
    background-position: 50% 50%;
  }

  .u-section-5 .u-list-item-3 {
    background-position: 50% 50%;
  }

  .u-section-5 .u-list-item-4 {
    background-position: 50% 50%;
  }

  .u-section-5 .u-list-item-5 {
    background-position: 50% 50%;
  }

  .u-section-5 .u-list-item-6 {
    background-position: 50% 50%;
  }

  .u-section-5 .u-list-item-7 {
    background-position: 50% 50%;
  }

  .u-section-5 .u-list-item-8 {
    background-position: 50% 50%;
  }

  .u-section-5 .u-list-item-9 {
    background-position: 50% 50%;
  }

  .u-section-5 .u-list-item-10 {
    background-position: 50% 50%;
  }
}

@media (max-width: 1199px) {
   .u-section-5 {
    min-height: 1210px;
  }

  .u-section-5 .u-repeater-1 {
    min-height: 1210px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 4000px;
  }

  .u-section-5 .u-image-1 {
    height: 1140px;
  }

  .u-section-5 .u-image-2 {
    height: 1140px;
  }

  .u-section-5 .u-image-3 {
    height: 1140px;
  }

  .u-section-5 .u-image-4 {
    height: 1140px;
  }

  .u-section-5 .u-image-5 {
    height: 1140px;
  }

  .u-section-5 .u-image-6 {
    height: 1140px;
  }

  .u-section-5 .u-image-7 {
    height: 1140px;
  }

  .u-section-5 .u-image-8 {
    height: 1140px;
  }

  .u-section-5 .u-image-9 {
    height: 1140px;
  }

  .u-section-5 .u-image-10 {
    height: 1140px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-repeater-1 {
    min-height: 3000px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-repeater-1 {
    min-height: 1800px;
  }
} .u-section-6 {
  background-image: none;
  min-height: 2703px;
}

.u-section-6 .u-list-1 {
  grid-template-rows: auto auto auto;
  margin-top: 0;
  margin-bottom: 0;
  width: 100%;
}

.u-section-6 .u-repeater-1 {
  grid-template-columns: 50% 50%;
  min-height: 2900px;
  grid-gap: 0px;
}

.u-section-6 .u-list-item-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-6 .u-container-layout-1 {
  padding: 0;
}

.u-section-6 .u-image-1 {
  margin-top: 0;
  margin-bottom: 0;
  height: 570px;
}

.u-section-6 .u-list-item-2 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-6 .u-container-layout-2 {
  padding: 0;
}

.u-section-6 .u-image-2 {
  margin-top: 0;
  margin-bottom: 0;
  height: 570px;
}

.u-section-6 .u-list-item-3 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-6 .u-container-layout-3 {
  padding: 0;
}

.u-section-6 .u-image-3 {
  margin-top: 0;
  margin-bottom: 0;
  height: 570px;
}

.u-section-6 .u-list-item-4 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-6 .u-container-layout-4 {
  padding: 0;
}

.u-section-6 .u-image-4 {
  margin-top: 0;
  margin-bottom: 0;
  height: 570px;
}

.u-section-6 .u-list-item-5 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-6 .u-container-layout-5 {
  padding: 0;
}

.u-section-6 .u-image-5 {
  margin-top: 0;
  margin-bottom: 0;
  height: 570px;
}

.u-section-6 .u-list-item-6 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-6 .u-container-layout-6 {
  padding: 0;
}

.u-section-6 .u-image-6 {
  margin-top: 0;
  margin-bottom: 0;
  height: 570px;
}

.u-section-6 .u-list-item-7 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-6 .u-container-layout-7 {
  padding: 0;
}

.u-section-6 .u-image-7 {
  margin-top: 0;
  margin-bottom: 0;
  height: 570px;
}

.u-section-6 .u-list-item-8 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-6 .u-container-layout-8 {
  padding: 0;
}

.u-section-6 .u-image-8 {
  margin-top: 0;
  margin-bottom: 0;
  height: 570px;
}

.u-section-6 .u-list-item-9 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-6 .u-container-layout-9 {
  padding: 0;
}

.u-section-6 .u-image-9 {
  margin-top: 0;
  margin-bottom: 0;
  height: 570px;
}

.u-section-6 .u-list-item-10 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-6 .u-container-layout-10 {
  padding: 0;
}

.u-section-6 .u-image-10 {
  margin-top: 0;
  margin-bottom: 0;
  height: 570px;
}

.u-section-6 .u-gallery-1 {
  height: 703px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-6 .u-gallery-inner-1 {
  grid-gap: 10px 10px;
  grid-template-columns: auto;
}

.u-section-6 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

@media (max-width: 1399px) {
   .u-section-6 {
    min-height: 2607px;
  }

  .u-section-6 .u-repeater-1 {
    min-height: 1688px;
  }

  .u-section-6 .u-list-item-1 {
    background-position: 50% 50%;
  }

  .u-section-6 .u-list-item-2 {
    background-position: 50% 50%;
  }

  .u-section-6 .u-list-item-3 {
    background-position: 50% 50%;
  }

  .u-section-6 .u-list-item-4 {
    background-position: 50% 50%;
  }

  .u-section-6 .u-list-item-5 {
    background-position: 50% 50%;
  }

  .u-section-6 .u-list-item-6 {
    background-position: 50% 50%;
  }

  .u-section-6 .u-list-item-7 {
    background-position: 50% 50%;
  }

  .u-section-6 .u-list-item-8 {
    background-position: 50% 50%;
  }

  .u-section-6 .u-list-item-9 {
    background-position: 50% 50%;
  }

  .u-section-6 .u-list-item-10 {
    background-position: 50% 50%;
  }

  .u-section-6 .u-gallery-1 {
    height: 643px;
  }
}

@media (max-width: 1199px) {
   .u-section-6 {
    min-height: 1740px;
  }

  .u-section-6 .u-repeater-1 {
    min-height: 1210px;
  }

  .u-section-6 .u-gallery-1 {
    height: 530px;
  }

  .u-section-6 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 991px) {
   .u-section-6 {
    min-height: 2384px;
  }

  .u-section-6 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 4000px;
  }

  .u-section-6 .u-image-1 {
    height: 1140px;
  }

  .u-section-6 .u-image-2 {
    height: 1140px;
  }

  .u-section-6 .u-image-3 {
    height: 1140px;
  }

  .u-section-6 .u-image-4 {
    height: 1140px;
  }

  .u-section-6 .u-image-5 {
    height: 1140px;
  }

  .u-section-6 .u-image-6 {
    height: 1140px;
  }

  .u-section-6 .u-image-7 {
    height: 1140px;
  }

  .u-section-6 .u-image-8 {
    height: 1140px;
  }

  .u-section-6 .u-image-9 {
    height: 1140px;
  }

  .u-section-6 .u-image-10 {
    height: 1140px;
  }

  .u-section-6 .u-gallery-1 {
    height: 406px;
  }
}

@media (max-width: 767px) {
   .u-section-6 {
    min-height: 2288px;
  }

  .u-section-6 .u-repeater-1 {
    min-height: 3000px;
  }

  .u-section-6 .u-gallery-1 {
    height: 305px;
  }
}

@media (max-width: 575px) {
   .u-section-6 {
    min-height: 2181px;
  }

  .u-section-6 .u-repeater-1 {
    min-height: 1800px;
  }

  .u-section-6 .u-gallery-1 {
    height: 192px;
  }
}