 .u-section-1 {
  background-image: url("images/Slide16_9-4.jpg");
}

.u-section-1 .u-sheet-1 {
  min-height: 100vh;
}

@media (max-width: 1399px) {
   .u-section-1 {
    background-position: 50% 50%;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 1239px;
}

.u-section-2 .u-image-1 {
  height: 1019px;
  width: 1804px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 60px -2px;
}

@media (max-width: 1399px) {
  .u-section-2 .u-sheet-1 {
    min-height: 865px;
  }

  .u-section-2 .u-image-1 {
    height: 644px;
    width: 1140px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 752px;
  }

  .u-section-2 .u-image-1 {
    height: 531px;
    width: 940px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 628px;
  }

  .u-section-2 .u-image-1 {
    height: 407px;
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 526px;
  }

  .u-section-2 .u-image-1 {
    height: 305px;
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 413px;
  }

  .u-section-2 .u-image-1 {
    height: 192px;
    width: 340px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 50vw;
}

.u-section-3 .u-image-1 {
  margin-top: 118px;
  margin-bottom: 60px;
  height: 1006px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}.u-section-4 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-4 .u-image-1 {
  margin-top: 132px;
  margin-bottom: 60px;
  height: 1023px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}.u-section-5 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-5 .u-image-1 {
  margin-top: 0;
  margin-bottom: 60px;
  height: 1012px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  --radius: 30px;
} .u-section-6 {
  background-image: url("images/Slide16_9-15.png");
  background-position: 50% 50%;
}

.u-section-6 .u-sheet-1 {
  min-height: 100vh;
} .u-section-7 {
  background-image: url("images/Slide16_9-16.png");
  background-position: 50% 50%;
}

.u-section-7 .u-sheet-1 {
  min-height: 100vh;
} .u-section-8 {
  background-image: url("images/Slide16_9-17.png");
  background-position: 50% 50%;
}

.u-section-8 .u-sheet-1 {
  min-height: 100vh;
} .u-section-9 {
  background-image: url("images/Slide16_9-18.png");
  background-position: 50% 50%;
}

.u-section-9 .u-sheet-1 {
  min-height: 100vh;
}