 .u-section-1 {
  background-image: url("images/Slide16_9-4.jpg");
}

.u-section-1 .u-sheet-1 {
  min-height: 100vh;
}

@media (max-width: 1399px) {
   .u-section-1 {
    background-position: 50% 50%;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 929px;
}

.u-section-2 .u-image-1 {
  height: 791px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin-top: 79px;
  margin-bottom: 59px;
}

@media (max-width: 1399px) {
  .u-section-2 .u-sheet-1 {
    min-height: 865px;
  }
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 752px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 628px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 526px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 413px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 1000px;
}

.u-section-3 .u-image-1 {
  margin-top: 60px;
  margin-bottom: 60px;
  height: 782px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}.u-section-4 .u-sheet-1 {
  min-height: 1061px;
}

.u-section-4 .u-image-1 {
  margin-top: 132px;
  margin-bottom: 60px;
  height: 789px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}.u-section-5 .u-sheet-1 {
  min-height: 984px;
}

.u-section-5 .u-image-1 {
  margin-top: 0;
  margin-bottom: 60px;
  height: 784px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  --radius: 30px;
} .u-section-6 {
  background-image: url("images/Slide16_9-15.png");
  background-position: 50% 50%;
}

.u-section-6 .u-sheet-1 {
  min-height: 100vh;
} .u-section-7 {
  background-image: url("images/Slide16_9-16.png");
  background-position: 50% 50%;
}

.u-section-7 .u-sheet-1 {
  min-height: 100vh;
} .u-section-8 {
  background-image: url("images/Slide16_9-17.png");
  background-position: 50% 50%;
}

.u-section-8 .u-sheet-1 {
  min-height: 100vh;
} .u-section-9 {
  background-image: url("images/Slide16_9-18.png");
  background-position: 50% 50%;
}

.u-section-9 .u-sheet-1 {
  min-height: 100vh;
}