 .u-section-1 {
  background-image: url("images/2023-03-0512.56.30.png");
}

.u-section-1 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-1 .u-group-elements-1 {
  width: 597px;
  min-height: 127px;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  --animation-custom_in-scale: 1;
  margin: 450px auto 60px;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  width: 597px;
  margin: 0 auto;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  margin: 20px auto 0;
}

@media (max-width: 1399px) {
   .u-section-1 {
    background-position: 50% 50%;
  }

  .u-section-1 .u-text-1 {
    font-size: 4.5rem;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.5rem;
  }
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-elements-1 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    animation-duration: 4000ms;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-elements-1 {
    width: 540px;
    min-height: 206px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-left: 97px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-group-elements-1 {
    width: 343px;
    min-height: 62px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.25rem;
    margin-top: 10px;
    margin-left: 55px;
  }
}

.u-section-1 .u-group-elements-1,
.u-section-1 .u-group-elements-1:before,
.u-section-1 .u-group-elements-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-group-elements-1.u-group-elements-1.u-group-elements-1:hover {
  transform: scale(1.05) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-group-elements-1.u-group-elements-1.u-group-elements-1.hover {
  transform: scale(1.05) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-container-layout:hover .u-group-elements-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-group-elements-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 882px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 642px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  margin: 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 246px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-text-2 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-2 .u-line-1 {
  transform-origin: left center 0px;
  width: 800px;
  margin: 30px auto 0 0;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 316px;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-text-3 {
  font-weight: 700;
  margin: 0;
}

.u-section-2 .u-layout-cell-4 {
  min-height: 284px;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px;
}

.u-section-2 .u-text-4 {
  font-weight: 700;
  margin: 0;
}

.u-section-2 .u-layout-cell-5 {
  min-height: 284px;
}

.u-section-2 .u-container-layout-5 {
  padding: 30px;
}

.u-section-2 .u-text-5 {
  font-weight: 700;
  margin: 0;
}

@media (max-width: 1399px) {
  .u-section-2 .u-sheet-1 {
    min-height: 850px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 321px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 321px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 321px;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 321px;
  }
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 315px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 66px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 132px;
  }

  .u-section-2 .u-line-1 {
    width: 628px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 285px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 153px;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 153px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 869px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1472px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-line-1 {
    width: 520px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1517px;
  }

  .u-section-2 .u-line-1 {
    width: 320px;
  }
} .u-section-3 {
  background-image: url("images/waste0272.png");
}

.u-section-3 .u-sheet-1 {
  min-height: 999px;
}

@media (max-width: 1399px) {
   .u-section-3 {
    background-position: 50% 50%;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 941px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 763px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 537px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 612px;
}

.u-section-4 .u-image-1 {
  width: 804px;
  height: 453px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  --radius: 10px;
  margin: 60px auto;
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 565px;
  }

  .u-section-4 .u-image-1 {
    width: 720px;
    height: 406px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 464px;
  }

  .u-section-4 .u-image-1 {
    width: 540px;
    height: 305px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 351px;
  }

  .u-section-4 .u-image-1 {
    width: 340px;
    height: 192px;
  }
} .u-section-5 {
  background-image: url("images/waste0487.png");
  background-position: 50% 50%;
}

.u-section-5 .u-sheet-1 {
  min-height: 900px;
}

@media (max-width: 1399px) {
  .u-section-5 .u-sheet-1 {
    min-height: 733px;
  }
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 604px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 463px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 347px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 218px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 1249px;
}

.u-section-6 .u-image-1 {
  width: 942px;
  height: 529px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  --radius: 10px;
  margin: 84px auto 0 0;
}

.u-section-6 .u-image-2 {
  width: 942px;
  height: 529px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  --radius: 10px;
  margin: 53px auto 53px 458px;
}

@media (max-width: 1399px) {
  .u-section-6 .u-image-2 {
    margin-left: 198px;
  }
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1247px;
  }

  .u-section-6 .u-image-1 {
    width: 940px;
    height: 528px;
  }

  .u-section-6 .u-image-2 {
    width: 940px;
    height: 528px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 999px;
  }

  .u-section-6 .u-image-1 {
    width: 720px;
    height: 404px;
  }

  .u-section-6 .u-image-2 {
    width: 720px;
    height: 404px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 797px;
  }

  .u-section-6 .u-image-1 {
    width: 540px;
    height: 303px;
  }

  .u-section-6 .u-image-2 {
    width: 540px;
    height: 303px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 523px;
  }

  .u-section-6 .u-image-1 {
    width: 340px;
    height: 191px;
  }

  .u-section-6 .u-image-2 {
    width: 340px;
    height: 191px;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 1264px;
}

.u-section-7 .u-image-1 {
  width: 939px;
  height: 572px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  --radius: 10px;
  margin: 1px auto 0 0;
}

.u-section-7 .u-image-2 {
  width: 939px;
  height: 572px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  --radius: 10px;
  margin: 60px auto 60px 461px;
}

@media (max-width: 1399px) {
  .u-section-7 .u-image-2 {
    margin-left: 201px;
  }
}

@media (max-width: 1199px) {
  .u-section-7 .u-image-2 {
    margin-left: 1px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 998px;
  }

  .u-section-7 .u-image-1 {
    width: 720px;
    height: 439px;
  }

  .u-section-7 .u-image-2 {
    width: 720px;
    height: 439px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 778px;
  }

  .u-section-7 .u-image-1 {
    width: 540px;
    height: 329px;
  }

  .u-section-7 .u-image-2 {
    width: 540px;
    height: 329px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 534px;
  }

  .u-section-7 .u-image-1 {
    width: 340px;
    height: 207px;
  }

  .u-section-7 .u-image-2 {
    width: 340px;
    height: 207px;
  }
}.u-section-8 .u-sheet-1 {
  min-height: 858px;
}

.u-section-8 .u-image-1 {
  height: 788px;
  width: 1402px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  --radius: 10px;
  margin: 0 -1px 60px;
}

@media (max-width: 1399px) {
  .u-section-8 .u-sheet-1 {
    min-height: 711px;
  }

  .u-section-8 .u-image-1 {
    height: 641px;
    width: 1140px;
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 599px;
  }

  .u-section-8 .u-image-1 {
    height: 529px;
    width: 940px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 475px;
  }

  .u-section-8 .u-image-1 {
    height: 405px;
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 374px;
  }

  .u-section-8 .u-image-1 {
    height: 304px;
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 261px;
  }

  .u-section-8 .u-image-1 {
    height: 191px;
    width: 340px;
  }
} .u-section-9 {
  background-image: url("https://cdn.discordapp.com/attachments/1066125537245941876/1213740923003863050/Flip1051.png?ex=65f69352&is=65e41e52&hm=2a754822b11a724552c178cc4683385b17bc24802f296baea226f40cf890faef&");
}

.u-section-9 .u-sheet-1 {
  min-height: 974px;
}

@media (max-width: 1399px) {
   .u-section-9 {
    background-position: 50% 50%;
  }

  .u-section-9 .u-sheet-1 {
    min-height: 793px;
  }
}

@media (max-width: 1199px) {
  .u-section-9 .u-sheet-1 {
    min-height: 654px;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-sheet-1 {
    min-height: 501px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-sheet-1 {
    min-height: 376px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-sheet-1 {
    min-height: 237px;
  }
}.u-section-10 .u-sheet-1 {
  min-height: 859px;
}

.u-section-10 .u-image-1 {
  height: 789px;
  margin-top: 70px;
  margin-bottom: 0;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  --radius: 10px;
}

@media (max-width: 767px) {
  .u-section-10 .u-sheet-1 {
    min-height: 711px;
  }
}

@media (max-width: 575px) {
  .u-section-10 .u-sheet-1 {
    min-height: 485px;
  }
}.u-section-11 .u-sheet-1 {
  min-height: 1203px;
}

.u-section-11 .u-image-1 {
  width: 917px;
  height: 516px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  --radius: 10px;
  margin: 55px auto 0 0;
}

.u-section-11 .u-image-2 {
  width: 917px;
  height: 516px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  --radius: 10px;
  margin: 59px 0 57px auto;
}

@media (max-width: 991px) {
  .u-section-11 .u-sheet-1 {
    min-height: 981px;
  }

  .u-section-11 .u-image-1 {
    width: 720px;
    height: 405px;
  }

  .u-section-11 .u-image-2 {
    width: 720px;
    height: 405px;
  }
}

@media (max-width: 767px) {
  .u-section-11 .u-sheet-1 {
    min-height: 779px;
  }

  .u-section-11 .u-image-1 {
    width: 540px;
    height: 304px;
  }

  .u-section-11 .u-image-2 {
    width: 540px;
    height: 304px;
  }
}

@media (max-width: 575px) {
  .u-section-11 .u-sheet-1 {
    min-height: 553px;
  }

  .u-section-11 .u-image-1 {
    width: 340px;
    height: 191px;
  }

  .u-section-11 .u-image-2 {
    width: 340px;
    height: 191px;
  }
}.u-section-12 .u-sheet-1 {
  min-height: 606px;
}

.u-section-12 .u-image-1 {
  width: 917px;
  height: 516px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  --radius: 10px;
  margin: 0 auto 60px 0;
}

@media (max-width: 991px) {
  .u-section-12 .u-sheet-1 {
    min-height: 994px;
  }

  .u-section-12 .u-image-1 {
    width: 720px;
    height: 405px;
  }
}

@media (max-width: 767px) {
  .u-section-12 .u-sheet-1 {
    min-height: 792px;
  }

  .u-section-12 .u-image-1 {
    width: 540px;
    height: 304px;
  }
}

@media (max-width: 575px) {
  .u-section-12 .u-sheet-1 {
    min-height: 566px;
  }

  .u-section-12 .u-image-1 {
    width: 340px;
    height: 191px;
  }
}.u-section-13 .u-sheet-1 {
  min-height: 910px;
}

.u-section-13 .u-text-1 {
  margin-top: 48px;
  margin-bottom: 0;
}

.u-section-13 .u-video-1 {
  height: 740px;
  margin-top: 48px;
  margin-bottom: 38px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  width: 100%;
}

.u-section-13 .embed-responsive-1 {
  position: absolute;
}

@media (max-width: 1399px) {
  .u-section-13 .u-video-1 {
    width: auto;
  }

  .u-section-13 .embed-responsive-1 {
    height: 178%;
    width: 178%;
    left: -39%;
    top: -39%;
  }
}.u-section-14 .u-sheet-1 {
  min-height: 1570px;
}

.u-section-14 .u-text-1 {
  margin: 0 20px 0 0;
}

.u-section-14 .u-text-2 {
  margin: 77px 10px 0;
}

.u-section-14 .u-image-1 {
  width: 571px;
  height: 350px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 67px auto 0 0;
}

.u-section-14 .u-image-2 {
  width: 570px;
  height: 352px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -350px 0 0 auto;
}

.u-section-14 .u-image-3 {
  height: 752px;
  margin-top: 141px;
  margin-bottom: 60px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

@media (max-width: 1199px) {
  .u-section-14 .u-text-1 {
    margin-right: 0;
  }

  .u-section-14 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-14 .u-image-1 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-14 .u-sheet-1 {
    min-height: 1532px;
  }

  .u-section-14 .u-image-1 {
    width: 540px;
    height: 331px;
  }

  .u-section-14 .u-image-2 {
    width: 540px;
    height: 333px;
    margin-top: -331px;
  }
}

@media (max-width: 575px) {
  .u-section-14 .u-sheet-1 {
    min-height: 1286px;
  }

  .u-section-14 .u-image-1 {
    width: 340px;
    height: 208px;
  }

  .u-section-14 .u-image-2 {
    width: 340px;
    height: 210px;
    margin-top: -208px;
  }
}.u-section-15 .u-sheet-1 {
  min-height: 1252px;
}

.u-section-15 .u-text-1 {
  margin: 28px auto 0 0;
}

.u-section-15 .u-image-1 {
  width: 1143px;
  height: 462px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 36px -2px 0;
}

.u-section-15 .u-image-2 {
  width: 1017px;
  height: 563px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 4px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-15 .u-sheet-1 {
    min-height: 1127px;
  }

  .u-section-15 .u-image-1 {
    width: 940px;
    height: 380px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-15 .u-image-2 {
    width: 940px;
    height: 520px;
  }
}

@media (max-width: 991px) {
  .u-section-15 .u-sheet-1 {
    min-height: 916px;
  }

  .u-section-15 .u-image-1 {
    width: 720px;
    height: 291px;
  }

  .u-section-15 .u-image-2 {
    width: 720px;
    height: 398px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-15 .u-sheet-1 {
    min-height: 744px;
  }

  .u-section-15 .u-image-1 {
    width: 540px;
    height: 218px;
  }

  .u-section-15 .u-image-2 {
    width: 540px;
    height: 299px;
  }
}

@media (max-width: 575px) {
  .u-section-15 .u-sheet-1 {
    min-height: 552px;
  }

  .u-section-15 .u-image-1 {
    width: 340px;
    height: 137px;
  }

  .u-section-15 .u-image-2 {
    width: 340px;
    height: 188px;
  }
}