.u-section-1 .u-sheet-1 {
  min-height: 600px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 400px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-icon-1 {
  width: 545px;
  height: 139px;
  margin: 0 auto;
  padding: 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 400px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 82px 157px 0 67px;
}

.u-section-1 .u-text-2 {
  margin: 10px 59px 0 67px;
}

@media (max-width: 1399px) {
  .u-section-1 .u-sheet-1 {
    min-height: 526px;
  }

  .u-section-1 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 354px;
  }

  .u-section-1 .u-icon-1 {
    --animation-custom_in-translate_x: 300px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    width: 510px;
    height: 130px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 354px;
  }

  .u-section-1 .u-text-1 {
    --animation-custom_in-translate_x: 300px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    width: auto;
    margin-top: 0;
    margin-right: 92px;
    margin-left: 2px;
  }

  .u-section-1 .u-text-2 {
    --animation-custom_in-translate_x: 300px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    width: auto;
    margin-right: 3px;
    margin-left: 0;
  }
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 469px;
  }

  .u-section-1 .u-icon-1 {
    width: 410px;
    height: 105px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 406px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 440px;
  }

  .u-section-1 .u-icon-1 {
    width: 300px;
    height: 77px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 440px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 532px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 100%;
    margin: 0;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 230px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 242px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 595px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 181px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 305px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 2083px;
}

.u-section-2 .u-list-1 {
  margin-bottom: 60px;
  margin-top: 0;
}

.u-section-2 .u-repeater-1 {
  grid-auto-columns: calc(50% - 17.5px);
  grid-template-columns: calc(50% - 17.5px) calc(50% - 17.5px);
  min-height: 1864px;
  grid-gap: 35px;
}

.u-section-2 .u-list-item-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-1 {
  padding: 0 10px;
}

.u-section-2 .u-text-1 {
  font-weight: 600;
  font-size: 1.5rem;
  margin: 211px 13px 0;
}

.u-section-2 .u-image-1 {
  --radius: 20px;
  height: 437px;
  transition-duration: 0.25s;
  margin-top: -237px;
  margin-bottom: 0;
}

.u-section-2 .u-list-item-2 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-2 {
  padding: 0 10px;
}

.u-section-2 .u-text-2 {
  font-weight: 600;
  font-size: 1.5rem;
  margin: 211px 13px 0;
}

.u-section-2 .u-image-2 {
  --radius: 20px;
  height: 437px;
  object-position: 0% 50%;
  transition-duration: 0.25s;
  margin-top: -237px;
  margin-bottom: 0;
}

.u-section-2 .u-list-item-3 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 0 10px;
}

.u-section-2 .u-text-3 {
  font-weight: 600;
  font-size: 1.5rem;
  margin: 211px 13px 0;
}

.u-section-2 .u-image-3 {
  --radius: 20px;
  height: 437px;
  object-position: 0% 50%;
  transition-duration: 0.25s;
  margin-top: -237px;
  margin-bottom: 0;
}

.u-section-2 .u-list-item-4 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-4 {
  padding: 0 10px;
}

.u-section-2 .u-text-4 {
  font-weight: 600;
  font-size: 1.5rem;
  margin: 211px 13px 0;
}

.u-section-2 .u-image-4 {
  --radius: 20px;
  height: 437px;
  transition-duration: 0.25s;
  margin-top: -237px;
  margin-bottom: 0;
}

.u-section-2 .u-list-item-5 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-5 {
  padding: 0 10px;
}

.u-section-2 .u-text-5 {
  font-weight: 600;
  font-size: 1.5rem;
  margin: 211px 13px 0;
}

.u-section-2 .u-image-5 {
  --radius: 20px;
  height: 437px;
  transition-duration: 0.25s;
  margin-top: -237px;
  margin-bottom: 0;
}

.u-section-2 .u-list-item-6 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-6 {
  padding: 0 10px;
}

.u-section-2 .u-text-6 {
  font-weight: 600;
  font-size: 1.5rem;
  margin: 211px 13px 0;
}

.u-section-2 .u-image-6 {
  --radius: 20px;
  height: 437px;
  transition-duration: 0.25s;
  margin-top: -237px;
  margin-bottom: 0;
}

.u-section-2 .u-list-item-7 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0.5;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-7 {
  padding: 0 10px;
}

.u-section-2 .u-text-7 {
  font-weight: 600;
  font-size: 1.5rem;
  margin: 211px 13px 0;
}

.u-section-2 .u-image-7 {
  --radius: 20px;
  height: 437px;
  transition-duration: 0.25s;
  margin-top: -237px;
  margin-bottom: 0;
}

.u-section-2 .u-list-item-8 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0.5;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-8 {
  padding: 0 10px;
}

.u-section-2 .u-text-8 {
  font-weight: 600;
  font-size: 1.5rem;
  margin: 211px 13px 0;
}

.u-section-2 .u-image-8 {
  --radius: 20px;
  height: 437px;
  transition-duration: 0.25s;
  margin-top: -237px;
  margin-bottom: 0;
}

@media (max-width: 1399px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1400px;
  }

  .u-section-2 .u-list-1 {
    margin-bottom: 0;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
    min-height: 1529px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 141px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-2 .u-image-1 {
    height: 317px;
    margin-top: -169px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: 141px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-2 .u-image-2 {
    height: 317px;
    margin-top: -169px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-top: 141px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-2 .u-image-3 {
    height: 317px;
    margin-top: -169px;
    margin-bottom: -1px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-top: 141px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-2 .u-image-4 {
    height: 317px;
    margin-top: -169px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-text-5 {
    width: auto;
    margin-top: 141px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-2 .u-image-5 {
    height: 317px;
    margin-top: -169px;
    margin-bottom: -38px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-text-6 {
    width: auto;
    margin-top: 141px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-2 .u-image-6 {
    height: 317px;
    margin-top: -169px;
  }

  .u-section-2 .u-container-layout-7 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-text-7 {
    width: auto;
    margin-top: 141px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-2 .u-image-7 {
    height: 317px;
    margin-top: -169px;
    margin-bottom: -75px;
  }

  .u-section-2 .u-container-layout-8 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-text-8 {
    width: auto;
    margin-top: 141px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-2 .u-image-8 {
    height: 317px;
    margin-top: -169px;
    margin-bottom: -20px;
  }
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1082px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: calc(50% - 17.5px) calc(50% - 17.5px);
    min-height: 1271px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.25rem;
    margin-top: 118px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-image-1 {
    height: 261px;
    margin-top: -142px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.25rem;
    margin-top: 118px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-image-2 {
    height: 261px;
    margin-top: -142px;
  }

  .u-section-2 .u-text-3 {
    font-size: 1.25rem;
    margin-top: 118px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-image-3 {
    height: 261px;
    margin-top: -142px;
  }

  .u-section-2 .u-text-4 {
    font-size: 1.25rem;
    margin-top: 118px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-image-4 {
    height: 261px;
    margin-top: -142px;
  }

  .u-section-2 .u-text-5 {
    font-size: 1.25rem;
    margin-top: 118px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-image-5 {
    height: 261px;
    margin-top: -142px;
    margin-bottom: -31px;
  }

  .u-section-2 .u-text-6 {
    font-size: 1.25rem;
    margin-top: 118px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-image-6 {
    height: 261px;
    margin-top: -142px;
  }

  .u-section-2 .u-text-7 {
    font-size: 1.25rem;
    margin-top: 118px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-image-7 {
    height: 261px;
    margin-top: -142px;
    margin-bottom: -60px;
  }

  .u-section-2 .u-text-8 {
    font-size: 1.25rem;
    margin-top: 118px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-image-8 {
    height: 261px;
    margin-top: -142px;
    margin-bottom: -17px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 3843px;
  }

  .u-section-2 .u-list-1 {
    margin-bottom: 60px;
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-columns: calc(100% + 0px);
    grid-template-columns: 100%;
    min-height: 3483px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-bottom: 1px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 189px;
  }

  .u-section-2 .u-image-1 {
    height: 400px;
    margin-top: -211px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-bottom: 1px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 189px;
  }

  .u-section-2 .u-image-2 {
    height: 400px;
    margin-top: -211px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-bottom: 1px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 189px;
  }

  .u-section-2 .u-image-3 {
    height: 400px;
    margin-top: -211px;
    margin-bottom: 0;
  }

  .u-section-2 .u-container-layout-4 {
    padding-bottom: 1px;
  }

  .u-section-2 .u-text-4 {
    margin-top: 189px;
  }

  .u-section-2 .u-image-4 {
    height: 400px;
    margin-top: -211px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-bottom: 1px;
  }

  .u-section-2 .u-text-5 {
    margin-top: 189px;
  }

  .u-section-2 .u-image-5 {
    height: 400px;
    margin-top: -211px;
    margin-bottom: 0;
  }

  .u-section-2 .u-container-layout-6 {
    padding-bottom: 1px;
  }

  .u-section-2 .u-text-6 {
    margin-top: 189px;
  }

  .u-section-2 .u-image-6 {
    height: 400px;
    margin-top: -211px;
  }

  .u-section-2 .u-container-layout-7 {
    padding-bottom: 1px;
  }

  .u-section-2 .u-text-7 {
    margin-top: 189px;
  }

  .u-section-2 .u-image-7 {
    height: 400px;
    margin-top: -211px;
    margin-bottom: 0;
  }

  .u-section-2 .u-container-layout-8 {
    padding-bottom: 1px;
  }

  .u-section-2 .u-text-8 {
    margin-top: 189px;
  }

  .u-section-2 .u-image-8 {
    height: 400px;
    margin-top: -211px;
    margin-bottom: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2938px;
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-columns: 100%;
    min-height: 2668px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-bottom: 0;
  }

  .u-section-2 .u-text-1 {
    margin-top: 136px;
  }

  .u-section-2 .u-image-1 {
    height: 300px;
    margin-top: -160px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-bottom: 0;
  }

  .u-section-2 .u-text-2 {
    margin-top: 136px;
  }

  .u-section-2 .u-image-2 {
    height: 300px;
    margin-top: -160px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-bottom: 0;
  }

  .u-section-2 .u-text-3 {
    margin-top: 136px;
  }

  .u-section-2 .u-image-3 {
    height: 300px;
    margin-top: -160px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-bottom: 0;
  }

  .u-section-2 .u-text-4 {
    margin-top: 136px;
  }

  .u-section-2 .u-image-4 {
    height: 300px;
    margin-top: -160px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-bottom: 0;
  }

  .u-section-2 .u-text-5 {
    margin-top: 136px;
  }

  .u-section-2 .u-image-5 {
    height: 300px;
    margin-top: -160px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-bottom: 0;
  }

  .u-section-2 .u-text-6 {
    margin-top: 136px;
  }

  .u-section-2 .u-image-6 {
    height: 300px;
    margin-top: -160px;
  }

  .u-section-2 .u-container-layout-7 {
    padding-bottom: 0;
  }

  .u-section-2 .u-text-7 {
    margin-top: 136px;
  }

  .u-section-2 .u-image-7 {
    height: 300px;
    margin-top: -160px;
  }

  .u-section-2 .u-container-layout-8 {
    padding-bottom: 0;
  }

  .u-section-2 .u-text-8 {
    margin-top: 136px;
  }

  .u-section-2 .u-image-8 {
    height: 300px;
    margin-top: -160px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1833px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 1763px;
  }

  .u-section-2 .u-text-1 {
    font-size: 0.875rem;
    margin-top: 87px;
  }

  .u-section-2 .u-image-1 {
    height: 189px;
    margin-top: -104px;
  }

  .u-section-2 .u-text-2 {
    font-size: 0.875rem;
    margin-top: 87px;
  }

  .u-section-2 .u-image-2 {
    height: 189px;
    margin-top: -104px;
  }

  .u-section-2 .u-text-3 {
    font-size: 0.875rem;
    margin-top: 87px;
  }

  .u-section-2 .u-image-3 {
    height: 189px;
    margin-top: -104px;
  }

  .u-section-2 .u-text-4 {
    font-size: 0.875rem;
    margin-top: 87px;
  }

  .u-section-2 .u-image-4 {
    height: 189px;
    margin-top: -104px;
  }

  .u-section-2 .u-text-5 {
    font-size: 0.875rem;
    margin-top: 87px;
  }

  .u-section-2 .u-image-5 {
    height: 189px;
    margin-top: -104px;
  }

  .u-section-2 .u-text-6 {
    font-size: 0.875rem;
    margin-top: 87px;
  }

  .u-section-2 .u-image-6 {
    height: 189px;
    margin-top: -104px;
  }

  .u-section-2 .u-text-7 {
    font-size: 0.875rem;
    margin-top: 87px;
  }

  .u-section-2 .u-image-7 {
    height: 189px;
    margin-top: -104px;
  }

  .u-section-2 .u-text-8 {
    font-size: 0.875rem;
    margin-top: 87px;
  }

  .u-section-2 .u-image-8 {
    height: 189px;
    margin-top: -104px;
  }
}

.u-section-2 .u-image-1,
.u-section-2 .u-image-1:before,
.u-section-2 .u-image-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-image-1.u-image-1.u-image-1:hover {
  opacity: 0.2 !important;
}

.u-section-2 .u-image-1.u-image-1.u-image-1.hover {
  opacity: 0.2 !important;
}

.u-section-2 .u-image-7,
.u-section-2 .u-image-7:before,
.u-section-2 .u-image-7 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-image-7.u-image-7.u-image-7:hover {
  opacity: 0.2 !important;
}

.u-section-2 .u-image-7.u-image-7.u-image-7.hover {
  opacity: 0.2 !important;
}

.u-section-2 .u-image-6,
.u-section-2 .u-image-6:before,
.u-section-2 .u-image-6 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-image-6.u-image-6.u-image-6:hover {
  opacity: 0.2 !important;
}

.u-section-2 .u-image-6.u-image-6.u-image-6.hover {
  opacity: 0.2 !important;
}

.u-section-2 .u-image-4,
.u-section-2 .u-image-4:before,
.u-section-2 .u-image-4 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-image-4.u-image-4.u-image-4:hover {
  opacity: 0.2 !important;
}

.u-section-2 .u-image-4.u-image-4.u-image-4.hover {
  opacity: 0.2 !important;
}

.u-section-2 .u-image-2,
.u-section-2 .u-image-2:before,
.u-section-2 .u-image-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-image-2.u-image-2.u-image-2:hover {
  opacity: 0.2 !important;
}

.u-section-2 .u-image-2.u-image-2.u-image-2.hover {
  opacity: 0.2 !important;
}

.u-section-2 .u-image-3,
.u-section-2 .u-image-3:before,
.u-section-2 .u-image-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-image-3.u-image-3.u-image-3:hover {
  opacity: 0.2 !important;
}

.u-section-2 .u-image-3.u-image-3.u-image-3.hover {
  opacity: 0.2 !important;
}

.u-section-2 .u-image-5,
.u-section-2 .u-image-5:before,
.u-section-2 .u-image-5 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-image-5.u-image-5.u-image-5:hover {
  opacity: 0.2 !important;
}

.u-section-2 .u-image-5.u-image-5.u-image-5.hover {
  opacity: 0.2 !important;
}

.u-block-0046-152:not([data-block-selected]):not([data-cell-selected]),
.u-block-0046-152:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-0046-152:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-block-0046-152:not([data-block-selected]):not([data-cell-selected]).u-block-0046-152:not([data-block-selected]):not([data-cell-selected]).u-block-0046-152:not([data-block-selected]):not([data-cell-selected]):hover {
  opacity: 0.2 !important;
}

.u-block-0046-152:not([data-block-selected]):not([data-cell-selected]).u-block-0046-152:not([data-block-selected]):not([data-cell-selected]).u-block-0046-152:not([data-block-selected]):not([data-cell-selected]).hover {
  opacity: 0.2 !important;
}

.u-block-0046-156:not([data-block-selected]):not([data-cell-selected]),
.u-block-0046-156:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-0046-156:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-block-0046-156:not([data-block-selected]):not([data-cell-selected]).u-block-0046-156:not([data-block-selected]):not([data-cell-selected]).u-block-0046-156:not([data-block-selected]):not([data-cell-selected]):hover {
  opacity: 0.2 !important;
}

.u-block-0046-156:not([data-block-selected]):not([data-cell-selected]).u-block-0046-156:not([data-block-selected]):not([data-cell-selected]).u-block-0046-156:not([data-block-selected]):not([data-cell-selected]).hover {
  opacity: 0.2 !important;
}

.u-section-2 .u-image-8,
.u-section-2 .u-image-8:before,
.u-section-2 .u-image-8 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-image-8.u-image-8.u-image-8:hover {
  opacity: 0.2 !important;
}

.u-section-2 .u-image-8.u-image-8.u-image-8.hover {
  opacity: 0.2 !important;
}