.u-section-1 .u-sheet-1 {
  min-height: 681px;
}

.u-section-1 .u-icon-1 {
  width: 96px;
  height: 96px;
  margin: 165px auto 0 0;
  padding: 0;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  line-height: 1.4;
  font-style: normal;
  font-weight: 700;
  margin: 23px 377px 60px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 660px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-right: 283px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 632px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 63px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 484px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 422px;
  }

  .u-section-1 .u-icon-1 {
    width: 68px;
    height: 68px;
    margin-top: 103px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 2600px;
}

.u-section-2 .u-gallery-1 {
  height: 2400px;
  margin-top: 0;
  margin-bottom: 0;
  grid-gap: 17px 17px;
  width: 100%;
}

.u-section-2 .u-gallery-inner-1 {
  grid-template-columns: auto auto;
  grid-gap: 49px 49px;
}

.u-section-2 .u-gallery-item-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(255,255,255,0.85), rgba(255,255,255,0.85));
  padding: 20px;
}

.u-section-2 .u-gallery-item-2 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(255,255,255,0.85), rgba(255,255,255,0.85));
  padding: 20px;
}

.u-section-2 .u-gallery-item-3 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(255,255,255,0.85), rgba(255,255,255,0.85));
  padding: 20px;
}

.u-section-2 .u-gallery-item-4 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-back-image-4 {
  object-position: 0% 50%;
}

.u-section-2 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(255,255,255,0.85), rgba(255,255,255,0.85));
  padding: 20px;
}

.u-section-2 .u-gallery-item-5 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(255,255,255,0.85), rgba(255,255,255,0.85));
  padding: 20px;
}

.u-section-2 .u-gallery-item-6 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(255,255,255,0.85), rgba(255,255,255,0.85));
  padding: 20px;
}

.u-section-2 .u-gallery-item-7 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-over-slide-7 {
  background-image: linear-gradient(0deg, rgba(255,255,255,0.85), rgba(255,255,255,0.85));
  padding: 20px;
}

.u-section-2 .u-gallery-item-8 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-over-slide-8 {
  background-image: linear-gradient(0deg, rgba(255,255,255,0.85), rgba(255,255,255,0.85));
  padding: 20px;
}

.u-section-2 .u-gallery-item-9 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-over-slide-9 {
  background-image: linear-gradient(0deg, rgba(255,255,255,0.85), rgba(255,255,255,0.85));
  padding: 20px;
}

.u-section-2 .u-gallery-item-10 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-over-slide-10 {
  background-image: linear-gradient(0deg, rgba(255,255,255,0.85), rgba(255,255,255,0.85));
  padding: 20px;
}

.u-section-2 .u-gallery-item-11 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-over-slide-11 {
  background-image: linear-gradient(0deg, rgba(255,255,255,0.85), rgba(255,255,255,0.85));
  padding: 20px;
}

.u-section-2 .u-gallery-item-12 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-over-slide-12 {
  background-image: linear-gradient(0deg, rgba(255,255,255,0.85), rgba(255,255,255,0.85));
  padding: 20px;
}

@media (max-width: 1399px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2700px;
  }

  .u-section-2 .u-gallery-1 {
    height: 2600px;
  }

  .u-section-2 .u-gallery-inner-1 {
    grid-gap: 35px 35px;
  }
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1118px;
  }

  .u-section-2 .u-gallery-1 {
    height: 2187px;
  }

  .u-section-2 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 5677px;
  }

  .u-section-2 .u-gallery-1 {
    height: 6746px;
  }

  .u-section-2 .u-gallery-inner-1 {
    grid-template-columns: auto;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 4037px;
  }

  .u-section-2 .u-gallery-1 {
    height: 5106px;
  }

  .u-section-2 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 3337px;
  }

  .u-section-2 .u-gallery-1 {
    margin-bottom: 53px;
    height: 3284px;
  }
}